*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: rgb(245, 245, 247);
}
.aside{
    inline-size: 25%;
}
.nav{
    block-size: 64px;
    display: flex;
    justify-content: center;
    
}
.top-menu{
    display: flex;
}
img{
    margin: auto;
    block-size: 45px;
    /* max-block-size: 64px;    */
}
li:hover{
    
    background-color: rgb(98, 98, 101);
}
li{
    color: rgba(210, 210, 215, 1);
    cursor: pointer;
    padding: 22px 16px 22px 16px;
    line-height: 20px;
    font-size: 15px;
    
}

.top-menu{
    list-style-type: none;
    
}
.top-menu .aside.left {
    float :left;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .top-menu .aside.right {
    float :right;
  }
  .aside.right  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height : 100%;
    width : 50%;
  }
  .aside.right ul li {
    list-style-type: none;
  }
  .aside.right ul li div {
    display: inline-block;
  }
  li div img {
    width : 20px;
  }
.header{
    background-color: rgb(81, 81, 84);
}
.header-logo{
    display: flex;
    margin-block-start: 2.938px;
    margin-block-end: 2.938px;
    cursor: pointer;
}
.content-home{
    inline-size: 1200px;
    margin: auto;
    
    
}
.dropbtn {
    line-height: 20px;
    font-size: 15px;
    background-color: #515154;
    color: #d2d2d7;
    padding: 12px;
    margin-top : 10px;
    margin-right : 10px;
    border: none;
    cursor: pointer;
    position: relative; 
   

  }


  .dropbtn::after {
    content: '';
    position: absolute;
    right : -4px;
    top : 50%;
    transform: translateY(-50%);
    border-left : 6px solid transparent;
    border-right : 6px solid transparent;
    border-top : 6px solid white;
    
    
  }
  .dropdown:hover::after {
    /* tạo hình mũi tên */
    content: "";
    position: absolute;
    right : 50px;
    top : 69px;
    transform: translateY(-50%);
    border-left : 10px solid transparent;
    border-right : 10px solid transparent;
    border-bottom : 10px solid #515154;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #515154;
    width : 253.7px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* margin-top : 0px; */
    top :75px;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: 20px;
    font-size: 15px;
    color: #d2d2d7;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #969697;
    color:#d2d2d7;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #515154; 
  }
  .topic-iteams{
    width : 100%;
    height : 100%;
  }

.banner-top {
    inline-size:100%; 
   block-size: 100%; 
    
}
.banner-top img{
    inline-size:100%;
    block-size: auto; 
    
}
.topic{
    inline-size: 100%;
    block-size: 166px;
    text-align: center;
}
.topic img{
    inline-size: 384px;
    block-size: 166px;
   margin: 60px 12px 20px 12px;

}
.grid{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 20px;
    margin-block-end: 32px;
}
.title{
    margin-block-start: 50px;
    line-height: 45px;
    text-align: center;
    block-size: 45px;
    
    font-size: 30px;
    padding-block-end:24px ;
}
.item-box{
    inline-size: 245px;
    block-size: 368px;
    background-color: white ;
    border: 1px white;
    border-radius: 10px;
    padding: 24px 20px 16px 20px;
}
.picture img{
inline-size: 100%;
block-size: 100%;
cursor: pointer;
position: relative;
inset-block-end: 24px;
}
.picture{
inline-size: 240px;
block-size: 240px;

}
.product-tag{
    inline-size: 285px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    min-block-size: 50px;
    position: relative;
    inset-block-end: 17px;
    inset-inline-end: 29px;   
}
.product-tag .deposit{
    margin: 0;
    max-inline-size: 100px;
    max-block-size: 20px;
    vertical-align: top;
}
.product-tag .sale{
    vertical-align: top;
    margin: 0;
}
.product-tag .ready{
    vertical-align: top;
    margin: 0;
    max-inline-size: 100px;
    max-block-size: 30px;
}
.product-tag .new{
    vertical-align: top;
    margin: 0;
    max-inline-size: 69px;
    max-block-size: 30px;
}
.product-title{
 text-align: start;
 block-size: 54px;

 cursor: pointer;
 padding-inline-start: 18px;
}
.prices{
    padding-inline-end: 10px;
    block-size: 24px;
    text-align: center;
}
.actual-price{
    font-weight: 700;
    font-size: 16px;
    margin-inline-start: 5px;
    color: rgb(0, 102, 204);
}
.old-price.price-ratio{
    font-size: 14px;
    line-height: 24px;
    color: rgb(134, 134, 139) ;
    margin: 0 5px 0 5px;
}
.show-all{
    margin: auto;
    inline-size: 1200px;
    block-size: 39.6px;
    text-align: center;
}.show-all a{
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: #0066CC;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.show-all a:hover{
background-color: rgb(0, 102, 204);
color: white;
}
.banner-bottom{
    inline-size: 100%;
    margin-block-start: 80px;
}
.banner-bottom img{
   inline-size: 100%;
   block-size: auto;
   cursor: pointer
}
.news-item{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 20px;
    margin-block-end: 32px;
}
.news-pics{
    inline-size: 100%;
    block-size: auto;
    cursor: pointer;
}
.news-pics img{
    inline-size: 100%;
    max-block-size: 218px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    background: #f7e8e8;
    block-size: 176px;
}
.news{
    background-color: white;
    block-size:346px;
}
.news-title{
    padding: 25px 24px 15px 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1F;
    display: inline-block;
}
.news-date{
    background-color: #fff;
    font-size: 15px;
    line-height: 24px;
    color: #86868B;
    margin: 0 0 24px;
    padding: 10px 24px 0 24px;
    font-style: normal;
}
.end-body{
width :100%;
height : 180px;

background-color: #F2F2F2;
margin-top : 20px ;
  
  }
  .sign-shopdunk{
     text-align: center;
      font-weight: 700;
      font-size: 24px;
      color: #1D1D1F;
      line-height: 36px;
      padding: 80px 0 50px 0;
  }
  p{   
     text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #515154;
    padding: 8px 0;
    margin: 0;
  }
  .footer{
    inline-size: 100%;
    block-size: 541px;
    background-color: rgb(29, 29, 31);
    
    
    justify-content: center;
    padding: 64px 0 21px 0;
  }
.footer-content{
    display: flex;
    color: white;
    inline-size: 1200px;
    block-size: 430px;
    margin: auto;
    
}
.footer-follow {
    inline-size: 360px;
    block-size: 324px;
    padding-block-end: 20px;
    
}
.footer-follow p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #D2D2D7;
    padding-block-start: 8px;
    padding-block-end: 8px;
    text-align: start;
    inline-size: 294px;
    block-size: 160px;
    font-family: arial;
}
.networks img{
inline-size: 56px;
block-size: 57px;
}
.footer-info{
    inline-size: 240px;
    block-size: 344px;
    padding-inline-start: 60px;

}
.footer-info .info-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-block-end:15px;
}
.footer-info ul li{
padding: 0;
list-style-type: none;
inline-size: 185px;
block-size: 28px;
color: #86868b;
font-size: 13px;
line-height: 28px;
font-family: arial;
}
.footer-service{
    inline-size: 180px;
    block-size: 344px;
    padding-inline-start: 60px;
}
.service-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-block-end:15px;

}
.footer-service ul li{
    padding: 0;
    list-style-type: none;
    inline-size: 185px;
    block-size: 28px;
    color: #86868b;
    font-size: 13px;
    line-height: 28px;
    font-family: arial;
    }
.footer-contact{
    inline-size: 240px;
    block-size: 344px;
    padding-inline-start: 60px;
}
.contact-title{
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    font-family: arial;
    padding-block-end:15px;

}
.footer-contact ul li{
    padding: 0;
    list-style-type: none;
    inline-size: 185px;
    block-size: 28px;
    color: #86868b;
    font-size: 13px;
    line-height: 28px;
    font-family: arial;
    cursor:pointer;
}
.hard{
    block-size:156px ;
}
.footer-lower{
    inline-size: 1200px;
    display: flex;
    text-align: start;
    margin: auto;
     justify-content: space-between;
    padding: 20px 0 32px 0;
   border-block-start: 1px solid rgb(81, 81, 84); 
}
.claim{
    color: rgb(81, 81, 84);
    
}
